body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hero Section */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 10px 200px;
}
.logo {
  height: 50px;
  margin-right: auto;
}
nav ul li {
  flex: 0 1 0;
}

nav ul li a {
  text-decoration: none;
  color: #f54c11;
  text-wrap: nowrap;
}
nav ul li a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 200px 300px;
}

.hero h1 {
  font-size: 48px;
  font-weight: extrabold;
  color: #f54c11;
}
.hero p {
  font-size: 18px;
  color: #f88259;
}
.signup {
  font-size: 18px;
  font-weight: extrabold;
  padding: 7px 30px;
  border: 2px solid #f54c11;
  border-radius: 10px;
}
.signup.top {
  color: white;
  background-color: #f54c11;
}
.signup.top:hover {
  color: #f54c11;
  background-color: white;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-text .signup {
  align-self: flex-start;
}

/* Categories Section */
.categories {
  background-color: #fce1b1;
  padding: 50px 0px;
}
.categories h2,
.categories p {
  text-align: center;
  color: #f54c11;
}
.categories h2 {
  margin-bottom: 50px;
}
.cat-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}
.cat-flex div {
  background-color: #ffd48a;
  border-radius: 10px;
}
.cat-flex div p {
  padding: 20px 0px;
}
/* section about */
.about {
  margin-top: 100px;
  margin-bottom: 100px;
}
.about div {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  color: #ffa300;
}
.about div p {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
}
.about div h3 {
  font-size: 24px;
  font-weight: 500;
  text-align: right;
}
/* Order section */

.order {
  width: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid #f54c11;
  flex-wrap: wrap;
  border-radius: 20px;
  gap: 40px;
  background-color: #fce1b1;
  margin: 0 auto;
  padding: 40px 20px;
}
.order-text {
  color: #f54c11;
}
.order-text p {
  font-weight: 200;
  margin-top: 10px;
}

.signup.bottom {
  color: #f54c11;
  background-color: #fce1b1;
}
.signup.bottom:hover {
  color: white;
  background-color: #f54c11;
}
/* Footer Section */
footer {
  margin-top: 100px;
  text-align: center;
  padding: 30px 0px;
  background-color: #fce1b1;
}
footer p {
  color: #f54c11;
  font-size: 18px;
}
